:root {
     /* Exemplo de uso das variáveis de cor */
     --color-primary: #FF1E56; /* Vermelho Coração */
     --color-secundary: #CC1644; /* Versão mais escura do vermelho coração */
     --color-primary-light: #FF607F; /* Versão mais clara do vermelho coração */
     --color-gold: #FFD700; /* Dourado para contraste */
     --color-background: #F5F5F5; /* Fundo claro */
     --color-text: #333333; /* Texto principal */
     --color-accent: #40E0D0; /* Acento turquesa */
      /* Cores Primárias */
}