/* CORES PRINCIPAIS */
:root {
    --cor-cinza-escuro: #333333;
    --cor-branco-gelo: #F5F5F5;
    --cor-vermelho: #C4170C;
    --cor-vermelho-vinho: #8B0000;
    --cor-azul-aco:  #00eeff;
    --cor-azul-ciano:#00ccdd;
}